@{
    ViewBag.Title = "Kontakt";
}
<h4>@ViewBag.Title</h4>
<h4>@ViewBag.Message</h4>

<address>
    63-400<br />
    Ostrów Wielkopolski<br />
    <abbr title="Phone">Tel:</abbr>
    510 822 910
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mkolasniewski@outlook.com">mkolasniewski@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:mkolasniewski@outlook.com">mkolasniewski@outlook.com</a>
</address>